.fb-header-base {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;

    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#home {
    display: block;
    margin-top: 5px;
    width: 130px;
    height: 40px;
    left: 50px;
    background-color: #990000;
    color: white;
}

.fb-header {
    width: 100%;
    height: 60px;
    position: absolute;
    background: #990000;
    top: 0;
    left: 0;
    color: white;
    z-index: 12;

}

#img1 {
    left: 38px;
    height: 30px;
    width: 300px;
    top: 15%;
    color: white;
    font-size: 30px;
}

#img2 {
    left: 98px;
    height: 30px;
    width: 300px;
    top: 15%;
    color: #FFCC00;
    font-size: 30px;
    font-weight: bold;
}

#search {
    border-radius: 8px;
    border: none;
    left: 30%;
    height: 45%;
    width: 30%;
    top: 25%;
    background: #7a190c;
    color: #white;
    font-size: 15px;
}

#search-btn {

    border-radius: 14px;
    border: 0.8px solid white;
    left: 61%;
    height: 50%;
    width: 5%;
    top: 25%;
    color: white;
    font-size: 12px;
}

#search-btn:hover {

    border-radius: 14px;
    border: none;
    left: 61%;
    height: 50%;
    width: 5%;
    top: 25%;
    color: white;
    background: #7a190c;
    font-size: 12px;
}

#btn-topright {
    border-radius: 8px;
    border: 0.8px solid white;
    left: 81%;
    height: 50%;
    width: 8%;
    top: 25%;
    text-align: center;
    color: white;
    font-size: 12px;
}


#btn-topright:hover {
    border-radius: 8px;
    border: none;
    left: 81%;
    height: 50%;
    width: 8%;
    top: 25%;
    text-align: center;
    background: #7a190c;
    font-size: 12px;
}


#btn-topright2 {
    border-radius: 8px;
    border: 0.8px solid white;
    left: 90%;
    height: 50%;
    width: 8%;
    top: 25%;
    color: white;
    font-size: 12px;
}

#btn-topright2:hover {
    border-radius: 8px;
    border: 0.8px none;
    left: 90%;
    height: 50%;
    width: 8%;
    top: 25%;
    text-align: center;
    background: #7a190c;
    font-size: 12px;
}

/*---------------------------------------------------------------------*/

#resultBox {
    width: auto;
    height: 215px;  
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

#course-box {
    float: left;
    width: 234px;
    height: 138px;
    background: #DC2C2C;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

#professor-id {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 18px;
}

#rating {
    float: left;
    margin-top: 150px;
    margin-left: -130px;
}

#overall {
    float: left;
    margin-top: 185px;
    margin-left: -170px;
}

#title {
    float: left;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
}

#class {
    float: left;
    font-size: 20px;
    margin-left: -120px;
    margin-top: 80px;
}

#rate {
    font-size: 20px;
    float: left;
    margin-left: 550px;
    margin-top: 80px;
}






